* {
  margin: 0;
  padding: 0;
}

hr {
  width: 80%;
  margin: auto;
}

.preloader {
  height: 100vh;
  width: 100%;
  background-color: #f9f8f8;
  position: fixed;
  z-index: 999;
  display: grid;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid;
  color: #f8aade;
  border-top-color: transparent;
  animation: loader 1.2s linear infinite;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}

@keyframes loader {
  25% {
    color: #ee7a93;
  }

  50% {
    color: #438fba;
  }
  75% {
    color: #0c3e68;
  }
  to {
    transform: rotate(360deg);
  }
}

body {
}

h2 {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  color: rgb(247, 235, 214);
}

h3 {
  font-family: "Dancing Script", cursive;
  font-size: 2.8rem;
  color: rgba(0, 0, 0, 0.8);
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 3.5rem;
  color: rgb(247, 235, 214);
}

p {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  color: rgb(247, 235, 214);
  text-align: justify;
}

header {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 1fr 9fr;
}

@media only screen and (max-width: 470px) {
  h1 {
    font-size: 2.1rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.4rem;
  }
}

.header-div {
  box-sizing: border-box;
  padding: 1rem 2rem;
  background-color: #438fba;
  display: grid;
  grid-template-columns: 5fr 1fr;
  justify-content: stretch;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  width: 100vw;
  z-index: 1;
}

@media only screen and (max-width: 470px) {
  .header-div {
    padding: 1rem 1rem;
    grid-template-columns: 3fr 1fr;
  }
}

@media only screen and (max-width: 399px) {
  .header-div {
    padding: 1rem 1rem;
    grid-template-columns: 2fr 1fr;
  }
}

.header-div > h2 {
  font-size: 1.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  flex: 2;
}

.header-div > button {
  font-family: "Dancing Script", cursive;
  font-size: 1.2rem;
  padding: 0rem 2rem;
  background: #6872ce;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  border-radius: 1.5rem;
  color: rgb(247, 235, 214);
}

.header-div > button:focus {
  outline: none;
}

@media only screen and (max-width: 470px) {
  .header-div > button {
    font-size: 1.1rem;
    border-width: 0.13rem;
    padding: 0.25rem 1rem;
    border-radius: 1rem;
  }
}

.landing-div {
  background-image: url(images/blurry.jpg);
  background-size: cover;
  background-size: 100vw 100%;
  height: 100%;
  width: 100vw;
  filter: contrast(1.5);
  display: grid;
  border-bottom: 5px solid #6872ce;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 470px) {
  .landing-div {
    background-image: url(images/Sneha-cover.jpg);
  }
}

.landing-div::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom left,
    rgba(214, 211, 211, 0.37) 0%,
    rgba(13, 13, 13, 0.29) 100%
  );
}

.landing-div > h2 {
  align-self: flex-end;
  justify-self: flex-start;
  font-size: 4.5rem;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
  padding: 5rem 9rem;
}

@media only screen and (max-width: 470px) {
  .landing-div > h2 {
    align-self: flex-end;
    justify-self: flex-end;
    font-size: 2.8rem;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
    padding: 3rem;
  }
}

.initial-wish {
  margin-top: 2rem;
  padding: 0rem 5rem;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 470px) {
  .initial-wish {
    padding: 0rem 3rem;
    margin-bottom: 3rem;
  }
}

.initial-wish > h1 {
  color: black;
  width: fit-content;
  margin: auto;
  padding-bottom: 0.1rem;
  border-bottom: 0.2rem solid #6872ce;
}

.initial-wish > p {
  color: black;
  padding-top: 3rem;
}

@media only screen and (max-width: 470px) {
  .initial-wish > p {
    padding-top: 2rem;
  }
}

.tiles {
  display: grid;
  grid-template-rows: 4fr auto;
  box-sizing: border-box;
  padding: 1rem;
  grid-gap: 1.5rem;
}

.tile-type-1 {
  margin-top: 2rem;
}

.tile-type-4 {
  margin-bottom: 2rem;
}

.tiles > img {
  height: auto;
  width: 50%;
  border: 10px solid #6872ce;
  align-self: center;
  justify-self: center;
}

.tiles > p {
  padding: 1rem 2rem;
  color: rgba(0, 0, 0, 0.9);
  background-color: rgb(253, 241, 203, 0.6);
  border-radius: 2rem;
  text-align: center;
}

.last-wish {
  margin-top: 2rem;
  display: grid;
  padding: 2rem;
  background-color: #50ade2;
  margin-bottom: 0.5rem;
}

.last-wish > img {
  width: 100%;
  box-sizing: border-box;
  border: 1.5rem solid wheat;
}

.wish-sec > h1 {
  color: rgba(0, 0, 0, 0.9);
  border-bottom: 0.2rem solid black;
  width: fit-content;
  text-align: center;
  margin: auto;
}

.wish-sec > p {
  color: rgba(0, 0, 0, 0.9);
  padding: 2rem;
  text-align: center;
}

.img-gallery {
  height: auto;
  width: 100%;
  column-count: 3;
  box-sizing: border-box;
  background-image: url(images/Sky-background.svg);
  column-gap: 0.5rem;
  padding: 5rem 2rem;
}

@media only screen and (max-width: 470px) {
  .img-gallery {
    column-count: 2;
    padding: 3rem 1rem;
    margin-top: 2rem;
  }
}

.img-gallery > img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  display: block;
  border: 1rem solid #6872ce;
}

@media only screen and (max-width: 470px) {
  .img-gallery > img {
    border: 0.5rem solid wheat;
  }
}

.tell {
  display: grid;
  padding: 2rem;
  text-align: center;
}
.tell > h1,
p {
  color: rgba(0, 0, 0, 0.9);
}

.tell > h1 {
  margin-bottom: 1rem;
  border-bottom: 0.15rem solid rgba(0, 0, 0, 0.8);
  width: fit-content;
  margin: auto;
}

.tell > p {
  margin-top: 2rem;
  text-align: justify;
  padding: 1rem;
  font-size: 1.5rem;
}

@media only screen and (max-width: 420px) {
  .tell > h1 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 350px) {
  .tell > h1 {
    font-size: 1.5rem;
  }
  .tell > p {
    margin-top: 1rem;
    font-size: 1.3rem;
  }
}

footer {
  font-size: 1.8rem;
  text-align: center;
  font-family: "Dancing Script", cursive;
  padding: 1rem;
  background-color: #ffefce;
}

footer > p {
  text-align: center;
}

.fa-heart {
  color: red;
  margin: 0rem 0.5rem;
  position: relative;
  top: 0.3rem;
}
